.App{
  width: 100%;
  height: auto;
}

.App-left{
  float: left;
  position: relative;
  font-family: monospace;
  flex-direction: column;
  align-items: left;
  
  font-size: calc(10px + 2vmin);
  color: white;
  width: 60%;
  background-color:  grey;
}

.App-right{
  float: left;
  position: relative;
  height: 100%;
  text-align: left; 
  
  font-size: 1.5em;
  width:40%;
  background-color: #272822;
}

.App-link {
  color: #09d3ac;
}

.button-margin{
  margin: 15px;
}

.json-format{
  font-size: 1.2rem;
  line-height: 1.2;
}